.img-details {
  height: 50vh;
  width: 100%;
}

.title-section {
  display: flex;
  justify-content: space-between;
}

.btn-details {
  margin-right: 5px;
}

.ingredients-section {
  align-items: center;
  background-color: gray;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.instructions-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.video-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.video {
  width: 90%;
}

.recommend-section {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.start-recipe {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.btn-start-recipe {
  bottom: 0;
  margin-bottom: 20px;
  position: fixed;
}
