.section-buttons-filter {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto; 
}

.main-doneRecipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
