.section-explore {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 72vh;
  justify-content: center;
  width: 100%;
}

.explore-btn {
  font-size: 30px;
  margin-top: 10px;
  padding: 16px;
  width: 20rem;
}
