.ingredients-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.checked-recipes {
  width: 62%;
}

.checkbox {
  margin-right: 10px;
}

.risk {
  text-decoration: line-through;
}