.header {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  width: 100%;
}

.profile-btn {
  margin-left: 10px;
}

.search-btn {
  margin-right: 10px;
}

.title-header {
  font-size: 30px;
}

