.container-card-carousel .slick-slider {
  margin: 30px;
  padding: 30px;
}

.container-card-carousel button {
  background-color: black;
  border: 1px solid black;
}

.btn-start-recipe, .btn-finish-recipe {
  background-color: rgb(51, 190, 160);
  bottom: 0;
  margin: 30px;
  position: fixed;
}
